
* {
    padding: 0;
    margin: 0;
}

#navbar {
    background: red;

}

#navbar-title {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    margin-right: 40%;
}

#navbar li{
    position: relative;
    list-style: none;
    display:inline;
}

#navbar a {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.submenu {
    background: green;

}

.submenu > li > a{
    
}


#container {
    display: flex;
}

#left {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

#center {
    display: flex;
    flex: 1;
    flex-grow: 2;
    flex-direction: column;
}

#right {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
}


.panel {
    margin:20px;
    max-width: 400px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px 5px 0 0;
}

.panel-header {
    background-color: rgba(255,255,255,0.5);
}

.panel-content {
    padding: 10px;
    background: red;
}

input {
    margin:10px;
}

#submit {
    border: 2px solid red;
    border-radius: 10px;
}
